@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat", sans-serif;
  background-image: linear-gradient(to bottom right, #95e1d3, #bccea6);
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container.fade-out {
  opacity: 0.2;
}

.search-box {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.8s ease;
  font-size: 1em;
}
.search-box.fade {
  opacity: 1;
}
.search-box::placeholder {
  color: rgba(168, 168, 168, 0.9);
}

.app-description {
  max-width: 550px;
}
.app-description h2 {
  text-transform: capitalize;
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
.app-description p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: 1em;
  opacity: 0;
  transition: all 0.8s ease;
}
.app-description p.fade {
  opacity: 1;
}
.app-description span {
  opacity: 0;
  transition: all 1s ease;
}
.app-description span.fade {
  opacity: 1;
}

.load-container {
  margin-top: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.load-container.show {
  display: block;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
}

.load .line:nth-last-child(1) {
  animation: loading 0.7s 0.2s linear infinite;
}

.load .line:nth-last-child(2) {
  animation: loading 0.7s 0.3s linear infinite;
}

.load .line:nth-last-child(3) {
  animation: loading 0.7s 0.4s linear infinite;
}

@keyframes loading {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
}
.current-btn {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  transition: all 0.8s ease;
  opacity: 0;
  text-transform: capitalize;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.current-btn i {
  font-size: 2em;
  transition: opacity 0.8s ease;
  margin-top: 0.3em;
}
.current-btn.fade {
  opacity: 1;
}

.date {
  font-size: 1em;
  margin-top: 0.5em;
}

.weather-info {
  display: none;
}

.current-temp {
  font-size: 2em;
  font-weight: bold;
}

.weather-description {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: capitalize;
}

.min-max {
  font-size: 1em;
  font-style: italic;
}

.city {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0.6em;
}

.extra-weather-info {
  display: none;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  max-width: 300px;
}
.extra-weather-info p {
  text-transform: capitalize;
  font-size: 0.8em;
}
.extra-weather-info span {
  font-size: 1.1em;
  font-weight: bold;
}

.weather-icon img {
  width: 180px;
  margin-bottom: 0.5em;
}

.spin {
  animation: spin 5s infinite;
}

.move {
  animation: move 6s infinite linear;
}

.zoom {
  animation: zoom 5s infinite;
}

@keyframes move {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-20px);
  }
}
@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.change-layout {
  justify-content: space-around;
}

.show {
  display: block;
}

.show-extra {
  display: flex;
}

.hide {
  display: none;
}

@media screen and (min-width: 640px) and (min-height: 700px) {
  .container {
    padding: 3em 0;
  }

  .weather-icon img {
    width: 280px;
  }

  .extra-weather-info {
    max-width: none;
  }
  .extra-weather-info p {
    font-size: 1.1em;
  }
}
@media (hover: hover) {
  .current-btn i:hover {
    opacity: 0.7;
  }
}

/*# sourceMappingURL=styles.css.map */
