@media screen and(min-width:640px) {

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .container{
       min-height: 70vh;
       padding: 2em;
    }
}