//Font link
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #95e1d3, #bccea6);
    color: #fff;
}

.container{
    width: 95%;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    h2{
        text-transform: capitalize;
        font-size: 3em;
        margin-bottom: 0.3em;
    }

    input{
        border: none;
        outline: none;
        padding: 1em;
        border-radius: 5px 15px 5px 15px;
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        text-transform: capitalize;

        &::placeholder{
            color: rgba(168, 168, 168, 0.9);
        }
    }

    p{
        margin-bottom: 1.5em;
        line-height: 1.5em;
        font-size: 1em;
    }
}

.submit{
    cursor: pointer;
}

.btn{
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    display: none;
    width: 35px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top:1em;
    right:1em;
    transition: background-color 0.5s ease-in-out;
    text-transform: uppercase;
}

.btn-change{
    background-color: rgba(255, 255, 255, 0.8);
    color: #A6D9C0;
}

.date{
    font-size: 1.5em;
    margin-top: 0.5em;
}

.weather-info{
    display: none;
}

.weather-icon{
    img{
        width: 280px;
        margin-bottom: 1em;
        animation: zoom 5s infinite;
    }
}

@keyframes zoom{
    0%, 100%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.2) rotate(100deg);
    }
}

.current-temp{
    font-size: 3.5em;
    font-weight: bold;
}

.weather-description{
    font-size: 1.4em;
    font-weight: bold;
}

.min-max{
    font-size: 1.1em;
    font-style: italic;
}

.city{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.6em;
}

.extra-weather-info{
    display: none;
    justify-content: space-between;
    align-self: center;
    width: 600px;

    p{
        font-weight: bold;
        text-transform: capitalize;
    }
}

.change-layout{
    justify-content: space-between;
}

.show{
    display: block;
}

.show-extra{
    display: flex;
}

.hide{
    display: none;
}